html, body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: cornsilk;
    perspective: 1000px;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}